@import url("whitespace-reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* ---------------------------------

                general

------------------------------------ */
:root {
  --dark-blue: #3282b8;
  --grey: #ecf0f1;
  --white: #ffffff;
  --dark-grey: #a9a9a9;
  --orange: #e67300;
}

body {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: var(--dark-blue);
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}

h4 {
  align-items: center;
  color: var(--dark-blue);
  display: flex;
  font-size: 1.2rem;
  font-weight: 700;
  height: 35px;
  justify-content: center;
  margin: 20px 0;
  text-align: center;
}

h5 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

li {
  margin: 0 2%;
}

.padded {
  padding: 100px;
}

hr {
  border: 0;
  border-top: 1px solid #ecf0f1;
  width: 15%;
}

footer {
  background-color: var(--grey);
  padding: 25px 0;
}

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.btn {
  background-color: var(--dark-blue);
  border: solid 1px var(--dark-blue);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.icon {
  background-color: var(--dark-blue);
  border: solid 1px var(--dark-blue);
  border-radius: 25px;
  margin: 2%;
  min-width: 34px;
  padding: 3px;
  width: 20%;
}

.btn:hover,
.icon:hover {
  background-color: var(--orange);
  border-color: var(--orange);
}

a:hover {
  color: var(--orange);
}

.horz-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: column;
}

.vert-center {
  -ms-align-items: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#logo {
  margin: 25px;
  opacity: 0.5;
  position: fixed;
  width: 60px;
}

/* ---------------------------------

              nav 

------------------------------------ */

header nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

#resume-btn {
  justify-self: start;
  color: var(--dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
}

#resume-btn:hover {
  color: var(--orange);
}

#social {
  display: flex;
  justify-content: flex-end;
}

#social a {
  justify-self: flex-end;
  width: 50px;
}

#social .icon {
  align-self: end;
  width: 2%;
}

/* ---------------------------------

             intro 

------------------------------------ */

#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background:         /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://source.unsplash.com/nN1HSDtKdlw");
  background-size: cover;
  min-height: 200px;
}

#photo {
  margin: 15px;
}

#avatar {
  max-width: 200px;
  min-width: 125px;
  object-fit: contain;
  width: 80%;
}

#about {
  width: 50%;
}

#name {
  color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  display: inline;
  margin-right: 6px;
}

/* ---------------------------------

                projects 

------------------------------------ */

#projects ul {
  text-align: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 1.5rem;
  grid-auto-flow: row;
}

#projects > ul {
  margin-top: 75px;
}

#projects ul li {
  justify-items: center;
  display: grid;
  grid-template-rows: 150px 1fr 3fr;
}

#projects img {
  height: 100%;
  background-size: cover;
  background-position: cover;
}

#projects h4 {
  align-self: center;
}

#projects p {
  font-size: 0.9rem;
}

#projects > h2 {
  color: var(--dark-blue);
}

/* ---------------------------------

             footer 

------------------------------------ */

footer {
  padding-top: 50px;
  padding-bottom: 50px;
}

footer ul {
  width: 20%;
}

footer li {
  margin: 6%;
}
